@using EmployeeManagement.Domain.Entities
@{
    ViewData["Title"] = "Employees Page";
}

@model List<Employee>

<h2>Employee List</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
else
{
    @if (TempData["Status"] != null)
    {
        <div class="alert @((TempData["Status"]?.ToString() == "success") ? "alert-success" : "alert-danger") alert-dismissible fade show" role="alert">
            <strong>@(TempData["Message"])</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
   
    <a asp-action="Create" class="btn btn-sm btn-warning mb-3">Create Employee</a>
    <table id="employeeTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Email</td>
                    <td>@employee.Position</td>
                    <td>@employee.Salary</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@employee.ID" class="btn  btn-sm btn-success">Detail</a>
                        <a asp-action="Edit" asp-route-id="@employee.ID" class="btn  btn-sm btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@employee.ID" class="btn  btn-sm btn-danger"
                           onclick="return confirm('Are you sure you want to delete this employee?');">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#employeeTable').DataTable();
        });
    </script>
}